.new-item-entry {
  position: sticky;
  top: 0;
  margin-bottom: 1rem;
  scroll-padding-inline: 0.75rem;

  form {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;

    label {
      position: absolute;
      left: -10000px;
    }

    input[type="text"] {
      width: 80%;
      font-size: 1.25rem;
      border: 2px solid $textbox-bordercolor;
      border-radius: 10px;
      padding: 0.75rem;
      outline: none;
    }

    input[type="text"]:focus,
    input[type="text"]:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }

    button {
      font-size: 1.25rem;
      background-color: $add-button-color;
      padding: 0.75rem;
      @include mp(768px) {
        font-size: 1.5rem;
      }
    }
  }
}
